@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Glimer-Outlined';
	src: url(../../assets/Gilmer-Font/Gilmer\ Outline.otf);
}

@font-face {
	font-family: 'Glimer-Bold';
	src: url(../../assets/Gilmer-Font/Gilmer\ Bold.woff);
}

@font-face {
	font-family: 'Glimer-Heavy';
	src: url(../../assets/Gilmer-Font/Gilmer\ Heavy.otf);
}

@font-face {
	font-family: 'Glimer-Light';
	src: url(../../assets/Gilmer-Font/Gilmer\ Light.otf);
}

@font-face {
	font-family: 'Glimer-Medium';
	src: url(../../assets/Gilmer-Font/Gilmer\ Medium.otf);
}

@font-face {
	font-family: 'Glimer-Regular';
	src: url(../../assets/Gilmer-Font/Gilmer\ Regular.otf);
}

@layer base {
	html,
	body {
		background-color: #fcfcfc;
		color: #3f4145;
		font-family: 'Glimer-Light', sans-serif;
	}

	.img {
		will-change: scale;
	}

	.img-container {
		will-change: width;
	}

	.container {
		will-change: visibility;
	}

	.cursor {
		pointer-events: none;
	}

	.cursor__ball {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	}

	.img-container::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		background: #fcfcfc;
	}
}

.max-w-container {
	@apply max-w-[75rem] mx-auto px-7 lg:px-0;
}

.nav-link {
	@apply text-sm hover:text-[#240658] transition duration-500 ease-in-out font-Glimer-Regular;
}

.highlight {
	@apply font-Glimer-Heavy;
}

.btn-primary {
	@apply rounded-full w-fit text-[#420fe7] hover:bg-[#420fe7] hover:text-[#fcfcfc] 
	transition duration-500 ease-in-out font-Glimer-Bold font-medium 
	border-[1px] focus:outline-none flex items-center justify-center 
	border-[#420fe7] py-3 px-6 text-lg xl:text-xl 2xl:text-2xl my-10;
}

.icon-container {
	@apply rounded-full h-[4.2rem] w-[4.2rem] bg-[#ffffff]/90 flex justify-center hover:border-[#420fe7] items-center border-8 border-[#420fe7]/20  transition duration-500 ease-in-out;
}

.project-icon {
	@apply w-10 h-10;
}

.contact-icon {
	@apply h-7 w-7;
}

.section-title {
	@apply text-[#420fe7] font-semibold z-40 text-6xl lg:text-8xl font-Glimer-Outlined;
}

.footer-link {
	@apply hover:text-[#420fe7] transition duration-500 ease-in-out;
}

header {
	@apply max-w-container;

	nav {
		@apply fixed inset-x-0 z-50;

		> div {
			@apply flex justify-between items-center h-[4rem] max-w-container;

			a {
				@apply text-[#420fe7] font-Glimer-Heavy;
			}

			> div {
				@apply hidden md:flex items-center space-x-10 text-[#420fe7];

				a {
					@apply nav-link;
				}
			}

			button {
				@apply md:hidden;

				i {
					@apply text-[#420fe7] text-2xl;
				}

				.fa-bars {
					@apply block;
				}

				.fa-xmark {
					@apply hidden;
				}
			}
		}
	}

	.pop-up {
		@apply fixed top-0 bottom-0 left-0 right-0 text-[#420fe7] p-10 hidden flex-col items-center justify-center text-2xl font-semibold space-y-10 z-40;

		a {
			@apply text-4xl font-Glimer-Medium;
		}
	}

	nav,
	.pop-up {
		@apply bg-gradient-to-r from-purple-50 to-purple-50;
	} 

	nav.visible {
		> div {
			button {
				.fa-bars {
					@apply hidden;
				}

				.fa-xmark {
					@apply block;
				}
			}
		}
	}


	.pop-up.visible {
		@apply flex;
	}

	.hero {
		@apply lg:grid lg:grid-cols-2 lg:gap-10 min-h-screen pt-[5.8rem];

		.skills {
			@apply flex items-center flex-wrap gap-y-2 gap-x-1;

			p {
				@apply bg-purple-50 p-2 text-[#420fe7] font-semibold px-4 rounded-full text-[0.8rem] mr-2 hover:bg-[#420fe7] hover:text-[#fcfcfc] transition-all duration-500 ease-in-out cursor-default;
			}
		}

		.links {
			@apply flex items-center space-x-4;

			img {
				@apply h-8 w-8;
			}
		}

		.achievements {
			@apply grid grid-cols-2 gap-2;

			li {
				@apply bg-white shadow min-h-[15rem] w-full p-5 flex flex-col justify-center space-y-3 hover:bg-purple-50 transition-all ease-in-out duration-500;

				i {
					@apply text-[#D92DFD] text-3xl;
				}

				p {
					@apply text-sm;
				}
			}
		}
	}
}

main {
	@apply w-full pt-[4rem] max-w-container;

	h1 {
		@apply section-title mb-5 md:mb-0;
	}

	ul {
		@apply space-y-20 md:space-y-32 z-30;

		li {
			@apply container gap-10 flex flex-col-reverse md:flex-row;

			> div {
				@apply space-y-6 flex flex-col justify-center;

				h1 {
				@apply font-bold font-Glimer-Bold text-4xl flex items-center 2xl:h-[60px] overflow-hidden text-[#3f4145] z-0;
				}

				p {
					@apply text-lg;
				}

				> div {
					@apply flex items-center flex-wrap;
				}

				.actions {
					@apply flex space-x-10 items-center;

					a {
						@apply uppercase text-sm flex items-center gap-2 hover:text-[#420fe7];

						i {
							@apply text-xl transition duration-200 ease-in-out;
						}

						.fa-github {
							@apply text-2xl;
						}

						&:hover {
							i {
								@apply -translate-y-1;
							}
						}
					}
				}
			}

			&:nth-child(even) {
				@apply md:flex-row-reverse;

				> div {
					@apply items-end;

					p {
						@apply text-right;
					}

					> div {
						@apply justify-end;
					}
				}
			}
		}

		.image {
			@apply relative overflow-hidden h-[25rem] md:h-[35rem];

			img {
				@apply absolute w-full object-cover h-full img bg-gradient-to-r from-purple-50 to-purple-100/50;
			}

			div {
				@apply img-container absolute top-0 right-0 w-full h-full -z-10;
			}
		}
	}
}

footer {
	@apply min-h-screen w-full pt-20 pb-10 flex flex-col justify-between max-w-container;

	.desc {
		@apply space-y-7 md:space-y-12;

		.actions {
			@apply flex flex-col space-y-5 md:space-y-0 md:flex-row md:items-center md:justify-between;

			.links {
				@apply flex items-center space-x-4;

				img {
					@apply sm:h-8 sm:w-8 h-5 w-5;
				}
			}
		}
	}

	nav {
		@apply flex flex-col justify-center max-w-container text-center md:flex-row items-center md:justify-between;

		p {
			@apply font-Glimer-Bold text-xs md:text-lg;
		}

		div {
			@apply flex text-sm items-center space-x-5 mb-5 md:mb-0;
		}
	}
}
