@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: rgb(234 76 137);
  --text: rgb(193 197 208);
  --textMedium: rgba(193, 197, 208, 0.5);
  --purple: rgb(107 92 229);
  --bgProject: rgba(28,61,96,.7);
  --tertiary: #275586;
  --primary: rgb(193 211 230);
  --bgHighlight:rgb(29 29 29);
  --blue: rgb(68 157 209);
}

@font-face {
	font-family: 'Glimer-Outlined';
	src: url(../../assets/Gilmer-Font/Gilmer\ Outline.otf);
}

.smooth {
	@apply transition-all ease-in duration-300;
}

.max-w-container {
	@apply max-w-[75rem] mx-auto px-7 lg:px-0;
}

.nav-link {
	@apply text-sm hover:text-[var(--pink)] transition duration-500 ease-in-out;
}

.btn-primary {
	@apply rounded-full w-fit text-[var(--primary)] hover:bg-[var(--bgHighlight)] hover:border-[var(--pink)] hover:text-[#fcfcfc] 
	transition duration-500 ease-in-out font-medium 
	border-[1px] focus:outline-none flex items-center justify-center 
	border-[var(--primary)] py-3 px-6 text-lg xl:text-xl 2xl:text-2xl my-10;
}

.icon-container {
	@apply rounded-full flex justify-center items-center border-[1px] border-[var(--text)] transition duration-500 ease-in-out py-3 px-6 hover:border-[var(--pink)] hover:bg-[var(--bgHighlight)];
}

.project-icon {
	@apply w-10 h-10;
}

.contact-icon {
	@apply h-7 w-7;
}

.section-title {
	@apply text-[var(--pink)] font-semibold text-6xl lg:text-8xl font-Glimer-Outlined;
}

.scrollbar-none {
	scrollbar-width: none;
}

.fade-x {
	mask-image: linear-gradient(270deg, transparent 0 .5%, #11253a 3% 97%, transparent 99.5% 100%);

	@media (min-width: 1024px) {
		mask-image: none;
	}	
}

.footer-link {
	@apply hover:text-[#420fe7] transition duration-500 ease-in-out;
}

@layer base {
	html,
	body {
		font-family: 'Bricolage Grotesque', sans-serif;
		background-color: #181A20;
		color: var(--text);
	}

	.img {
		will-change: scale;
	}

	.img-container {
		will-change: width;
	}

	.container {
		will-change: visibility;
	}

	.cursor {
		pointer-events: none;
	}

	.cursor__ball {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	}

	.img-container::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		background: #fcfcfc;
	}
}

header {
	nav {
		@apply fixed inset-x-0 z-50 top-0 backdrop-blur-md;

		> div {
			@apply flex justify-between items-center h-[5rem] max-w-container;

			a {
				@apply nav-link text-[var(--primary)] font-bold;
			}

			> div {
				@apply hidden md:flex items-center space-x-10 text-[var(--bgProject)];

				a {
					@apply nav-link;
				}
			}

			button {
				@apply md:hidden;

				i {
					@apply text-[var(--text)] text-2xl;
				}

				.fa-bars {
					@apply block;
				}

				.fa-xmark {
					@apply hidden;
				}
			}
		}

		&.visible {
			> div {
				button {
					.fa-bars {
						@apply hidden;
					}

					.fa-xmark {
						@apply block;
					}
				}
			}
		}
	}

	.pop-up {
		@apply fixed inset-0 text-[var(--text)] p-10 hidden flex-col items-center justify-center text-2xl font-semibold space-y-10 z-40
		bg-[#1B324C];

		a {
			@apply text-4xl;
		}
	}

	.pop-up.visible {
		@apply flex;
	}

	.hero {
		@apply min-h-screen flex flex-col md:justify-center pt-[5.8rem] max-w-container;

		.info {
			@apply grid md:grid-cols-2 gap-10;

			> div {
				@apply space-y-5;

				.links {
					@apply flex items-center space-x-4;
				}
			}
		}
	}
}

main {
	@apply mt-10 lg:mt-0 w-full;

	.projects {
		@apply lg:flex lg:gap-10 max-w-container;

		.project-nav {
			@apply overflow-x-scroll border-gray-700 scrollbar-none
			flex items-end pb-5 space-x-5 fade-x px-[8px] sm:pl-[12px] lg:pl-0
			lg:block lg:border-r lg:h-fit lg:space-y-5 lg:text-right lg:pr-5 lg:w-[9rem] lg:flex-shrink-0 lg:pb-0 lg:space-x-0;

			a {
				@apply text-[var(--textMedium)] hover:text-[var(--text)] smooth
				flex flex-col items-center text-center flex-shrink-0
				lg:block lg:text-right lg:flex-row;

				&.active {
					@apply text-[var(--pink)] hover:text-[var(--pink)];
					
					&::before {
						@apply mr-[8px];
						content: "\2193";
					}

					@media (min-width: 1024px) {
						&::before {
							content: "\2192";
						}
					}
				}
			}
		}

		.project-info {
			@apply border-t border-gray-700 lg:border-0;

			.project {
				@apply mt-10 lg:mt-0 lg:h-[440px] lg:max-h-[440px] lg:grid-cols-2 gap-5 hidden;

				&.visible {
					@apply grid;
				}

				.image, .description .name, .description .actions {
					@apply p-8 lg:bg-[var(--bgProject)] rounded-3xl;
				}

				.image {
					@apply flex items-center border border-transparent hover:border-[var(--pink)] smooth bg-[var(--bgProject)];

					&:hover {
						img {
							@apply scale-105;
						}
					}

					img {
						@apply w-[375px] h-[237px] m-auto object-cover smooth;
						border: 4px solid #e5e7eb;
						border-radius: 2px;
					}
				}

				.description {
					@apply grid grid-rows-2 gap-5 bg-[var(--bgProject)] lg:bg-transparent rounded-3xl lg:rounded-none;

					.name {
						@apply flex flex-col justify-between;

						h1 {
							@apply text-3xl font-bold;
						}
					}

					.actions {
						@apply flex flex-col justify-between space-y-12 lg:space-y-0;

						.stack {
							@apply flex flex-wrap;
						}

						.links {
							@apply space-x-5; 

							a {
								@apply hover:text-[var(--pink)] transition-all ease-in-out duration-300;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	@apply min-h-screen flex flex-col justify-center relative;

	.desc {
		@apply space-y-7 md:space-y-12 relative py-20;

		.left-img, .right-img {
			svg {
				@apply w-[350px] absolute top-[50%] hidden md:block;
			}
		}

		.left-img svg {
			@apply translate-y-[-50%] left-0;
		}

		.right-img svg {
			transform: translateY(-50%) rotateY(180deg);
			right: 0;
		}

		.details {
			@apply max-w-[650px] mx-auto relative z-10 bg-[#181A20];

			> h1 {
				font-size: 4.5rem;
			}
			
			.actions {
				@apply flex flex-col space-y-5 md:space-y-0 md:flex-row md:items-center md:justify-between my-10;
	
				.links {
					@apply flex items-center space-x-4;
				}
			}
		}
	}

	nav {
		@apply py-6 max-w-container flex justify-between w-full absolute bottom-8 right-0 left-0;

		p {
			@apply text-sm;
		}
	}
}
